/* FORMS */

/* Contact Forms */

form p {
	margin-bottom: 10px;
}

input:focus {
	outline: var(--color-dark-hex) auto 1px;
	transition: all 0.25s;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
	width: 100%;
	padding: 10px 15px;
	border: 0;
	border-radius: 0;
	background-color: var(--color-lighter);
	line-height: 1.5;
	font-family: var(--font-fam-reg);
	font-size: 20px;
	font-weight: normal;
	color: var(--color-dark-hex);
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	font-family: var(--font-fam-reg);
	font-size: 20px;
	font-weight: normal;
	color: var(--color-dark-hex);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-family: var(--font-fam-reg);
	font-size: 20px;
	font-weight: normal;
	color: var(--color-dark-hex);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	font-family: var(--font-fam-reg);
	font-size: 20px;
	font-weight: normal;
	color: var(--color-dark-hex);
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	width: 100%;
	padding: 10px 15px;
	border: 0;
	border-radius: 3px;
	line-height: 1.5;
	font-family: var(--font-fam-reg);
	font-size: 20px;
	font-weight: normal;
	background-color: var(--color-dark-hex);
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-appearance: none;
}

span.wpcf7-not-valid-tip {
	font-family: var(--font-fam-reg);
	font-size: 16px;
	font-weight: bold;
	color: #ff0000;
}

div.wpcf7-response-output {
	margin: 0;
	padding: 0;
	border: 0 !important;
	line-height: 1;
	font-family: var(--font-fam-reg);
	font-size: 16px;
	font-weight: bold;
	color: #ff0000;
}
