/* ICONS */

.icon-award {
	display: inline-flex;
	width: 26px;
	height: 67px;
	color: var(--color-light);
}

.svg-award {
	width: 26px;
	height: 67px;
}

.icon-caret {
	display: inline-flex;
	width: 5px;
	height: 13px;
	color: currentColor;
	/* opacity: 0.5; */
	/* transition: all 0.25s; */
}

.icon-caret-up {
	transform: rotate(-90deg);
}

.icon-caret-down {
	transform: rotate(90deg);
}

.icon-caret-left {
	transform: rotate(180deg);
}

.svg-caret {
	width: 5px;
	height: 13px;
}

.icon-contact {
	width: 175px;
	height: auto;
	margin-top: 60px;
	margin-bottom: 0;
	font-size: 0;
	color: var(--color-dark-hex);
}

.arrow-down-small {
	transform: rotate(90deg);
	transition: all 0.25s;
}

.toggle-trigger.toggled > .arrow-down-small {
	transform: rotate(-90deg);
	transition: all 0.25s;
}

@media (max-width: 767px) {
	.icon-contact {
		margin-left: auto;
		margin-right: auto;
	}
}

/* SVGs */

.svg-arrow-right {
	width: 5px;
	height: 15px;
	margin-bottom: 10px;
	margin-left: 25px;
}

.svg-contact {
	width: 200px;
	height: 200px;
}

.svg-facebook {
	width: 13px;
	height: 21px;
}

.svg-instagram {
	width: 18px;
	height: 21px;
}

.svg-linkedin {
	width: 18px;
	height: 21px;
}

.svg-twitter {
	width: 21px;
	height: 21px;
}

.svg-youtube {
	width: 24px;
	height: 21px;
}
