/* LOADER */

.overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #fff;
	opacity: 1;
	visibility: visible;
	z-index: 999;
}

.loader {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
	width: 100%;
	max-width: 300px;
	padding: 0 15px;
	text-align: center;
	opacity: 1;
	visibility: visible;
	z-index: 1000;
}

.loader.loaded {
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s linear;
}

.overlay.loaded {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s linear;
}

.loader-logo {
	width: 100%;
	height: auto;
	max-width: 300px;
	margin: auto;
	color: var(--dark-color);
}

.loader-title {
	font-size: 30px;
}

.spinner {
	width: 4rem;
	height: 5px;
	margin: 10px auto 0;
	overflow: hidden;
	position: relative;
	background: rgba(0, 44, 63, 0.25);
}

.spinner::before {
	content: '';
	position: absolute;
	left: -130%;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 1);
	animation: progress 4s linear infinite;
}

@keyframes progress {
	0% {
		left: -130%;
		background: rgba(0, 0, 0, 0.5);
	}
	50% {
		left: 130%;
		background: rgba(0, 0, 0, 0.5);
	}
	51% {
		background: rgba(255, 255, 255, 0.5);
	}
	100% {
		background: rgba(255, 255, 255, 0.5);
	}
}
