* {
	outline: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html,
body {
	margin: 0;
}

html {
	height: -webkit-fill-available;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	vertical-align: baseline;
}

body.desktop.no-scroll {
	overflow: hidden;
	padding-right: 15px;
}

.site-content {
	margin-top: 80px;
	margin-bottom: 120px;
}

body.home .site-content {
	margin: 0;
}

body.single-post .site-content {
	margin-bottom: 60px;
}

body.home main {
	margin: 0 auto;
}

body.home main.mobile {
	margin-top: 80px;
}

main.page-main {
	margin-top: 210px;
}

p {
	margin-top: 0;
	margin-bottom: 15px;
}

p:last-child {
	margin-bottom: 0;
}

a {
	text-decoration: none;
	transition: all 0.25s;
}

.entry-content a,
.page-content a {
	color: var(--color-dark-hex);
	text-decoration: underline;
}

a:hover,
a:active,
a:focus,
a:visited {
	outline: 0;
	text-decoration: none;
	transition: all 0.25s;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* LANGUAGES */

.site-nav li.lang-item {
	position: relative;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid white;
}

.site-nav li.lang-item-first {
	margin-left: 30px;
	padding-left: 0;
	border-left: none;
}

.site-nav li.lang-item a {
	display: flex;
	align-items: center;
	padding: 0;
	border: none;
	line-height: 1;
	font-size: 16px;
	text-transform: unset;
}

.site-nav li.current-lang a {
	text-decoration: underline;
}

.site-nav li.lang-item a:hover {
	border-color: transparent;
	background-color: transparent;
	opacity: 0.9;
	transition: all 0.25s;
}

.site-header.active .site-nav li.lang-item {
	border-color: var(--color-dark-hex);
}

.site-header.active .site-nav li.lang-item a {
	border-color: transparent;
	background-color: transparent;
	color: var(--color-dark-hex);
}

.site-header.active .site-nav li.lang-item a:hover {
	background-color: transparent;
	color: var(--color-dark-hex);
	opacity: 0.9;
	transition: all 0.25s;
}

.site-header.active .site-nav li.current-lang a:hover {
	opacity: 1;
}

.site-header.sticky .site-nav li.lang-item {
	border-color: var(--color-dark-hex);
}

.site-header.fixed .site-nav li.lang-item {
	border-color: var(--color-dark-hex);
}

.site-nav.mobile li.lang-item {
	width: auto;
	margin-top: 15px;
	margin-bottom: 30px;
	padding-right: 0;
}

.site-nav.mobile li.lang-item-first {
	margin-left: 0;
	padding-left: 30px;
}

@media (max-width: 767px) {
	.site-nav li.lang-item a {
		font-size: 14px;
	}
}

/* BASE */

/* PAGES */

.page-header {
	margin-bottom: 60px;
}

.page-title {
	margin: 0;
	line-height: 1;
}

.page-content {
	margin-top: 15px;
}

/* BLOG PAGES */

.blog-header {
	min-height: 120px;
	margin-bottom: 60px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--color-lighter);
}

.blog-title {
	margin: 0;
	line-height: 1;
	font-weight: 100;
	text-align: center;
}

.blog-title a {
	color: var(--color-dark-hex);
}

.blog-content {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.archive-header {
	margin: 0 auto 60px;
}

.archive-title {
	margin: 0;
	font-weight: bold;
	text-align: center;
}

@media (max-width: 991px) {
	.blog-header {
		margin-bottom: 0;
	}
}

/* BLOG SIDE NAV */

.side-nav {
	margin-bottom: 60px;
}

.side-nav h4 {
	margin-top: 0;
}

.side-nav a h4 {
	margin: 0;
}

.right-nav {
	padding: 30px 0 30px 30px;
	border-left: 1px solid rgba(47, 80, 136, 0.15);
	border-bottom: 1px solid rgba(47, 80, 136, 0.15);
}

.side-nav-menu-title {
	margin-bottom: 30px;
	font-size: 16px;
	opacity: 0.5;
}

ul.side-nav-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.side-nav-item {
	display: flex;
	flex-direction: column;
}

li.cat-nav-item {
	margin-bottom: 15px;
}

li.post-nav-item {
	margin-bottom: 60px;
}

li.post-nav-see-all {
	margin-bottom: 30px;
}

.cat-nav-title {
	font-size: 16px;
	font-weight: bold;
	color: var(--color-dark-hex);
}

.post-nav-cat {
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}

.post-nav-title {
	font-family: var(--font-heading);
	font-size: 30px;
	font-weight: 100;
	color: var(--color-dark-hex);
}

.see-all-link {
	font-size: 16px;
	text-decoration: underline;
	color: var(--color-dark-hex);
	opacity: 0.5;
}

.side-nav-toggle {
	display: none;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	line-height: 1;
	font-weight: 100;
	color: var(--color-dark-hex);
	opacity: 0.5;
}

@media (max-width: 991px) {
	.side-nav {
		margin-bottom: 30px;
	}

	.right-nav {
		padding: 0;
		border-left: none;
	}

	.post-nav,
	.side-nav-menu-title {
		display: none;
	}

	.toggle-target {
		display: none;
	}

	.side-nav-toggle {
		display: flex;
	}

	li.cat-nav-item:last-child {
		margin-bottom: 30px;
	}
}

article.post {
	margin-bottom: 60px;
}

body.single-post article.post {
	margin-bottom: 120px;
}

.entry-category {
	margin: 0;
	font-weight: bold;
}

.entry-title {
	margin-top: 15px;
	margin-bottom: 15px;
}

.entry-link {
	position: relative;
	color: var(--color-dark-hex);
}

.entry-meta {
	font-size: 16px;
	opacity: 0.5;
}

.entry-content {
	margin-top: 15px;
	margin-bottom: 30px;
}

.single .entry-content {
	margin-top: 45px;
}

.entry-divider {
	height: 1px;
	margin: 0;
	border: none;
	background-color: var(--color-divider);
}

.blog-home-link {
	text-align: right;
}

/* HELPERS */

.image {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.image img {
	display: block;
}

.image-aspect-square {
	height: auto;
	padding-top: 100%;
}

.image-circle {
	border-radius: 50%;
	overflow: hidden;
}

.img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.25s;
}

.img-cover {
	object-fit: cover;
}

.img-contain {
	object-fit: contain;
}

.text-center {
	text-align: center;
}

/* LAZY LOAD */

.lazy-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-lazy-image-overlay);
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s;
}

.lazy-overlay.on {
	opacity: 1;
	visibility: visible;
}

.member-overlay {
	border-radius: 50%;
}

/* HOME SECTIONS */

.home-section {
	margin: 120px auto;
}

.home-section-w-bg {
	margin: 0 auto;
	padding: 120px 0;
	background-color: var(--color-lighter);
}

.home-section-pt {
	padding-top: 120px;
}

.section-header {
	margin-bottom: 90px;
	text-align: center;
}

.section-title {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 60px;
	padding: 10px 15px;
	background-color: var(--color-dark-hex);
	color: white;
}

/* HOME INTRO */

.home-intro-banner {
	height: 100vh;
}

.home-intro-banner.mobile {
	height: calc(100vh - 80px);
}

.home-intro-content {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.home-intro-title {
	margin-top: 0;
	margin-bottom: 15px;
	line-height: 1;
}

.home-intro-subtitle {
	display: inline-block;
	margin: 0;
	padding: 12px 15px;
	line-height: 1.5;
	background-color: var(--color-dark-hex);
	color: white;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

.home-intro-image {
	width: 100%;
	max-width: 50%;
}

@media (max-width: 991px) {
	.home-intro-image {
		max-width: 75%;
	}
}

@media (max-width: 767px) {
	.home-intro-image {
		max-width: 90%;
	}
}

/* HOME ABOUT */

h1.bigtext.home-about-bigtext {
	margin-top: -100px;
	line-height: 1;
}

.home-about p {
	text-align: right;
}

@media (max-width: 767px) {
	h1.bigtext.home-about-bigtext {
		margin-top: 15px;
	}

	.home-about p {
		text-align: left;
	}
}

/* HOME AWARDS */

.home-awards {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 120px;
}

.home-awards .section-body .row {
	justify-content: center;
}

.award {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}

.award-content {
	display: inline-flex;
	margin-left: 15px;
}

.award-content > p {
	margin: 0;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
}

@media (max-width: 767px) {
	.award-content > p {
		font-size: 14px;
	}
}

/* HOME SERVICES */

.home-services {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 120px;
	padding-bottom: 120px;
}

.service-card {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 90px;
}

.service-left {
	display: inline-flex;
	align-items: center;
	width: 100%;
	max-width: 125px;
	transform: translateY(-25.5%);
}

.service-right {
	width: 75%;
	padding-left: 15px;
}

.service-right.full-width {
	width: 100%;
}

.service-title {
	display: block;
	width: 100%;
	margin-bottom: 30px;
	text-align: left;
}

.service-title h2 {
	margin: 0;
}

@media (max-width: 767px) {
	.service-left {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		transform: translateY(0);
	}

	.service-right {
		width: 100%;
		padding: 0;
	}

	.service-title {
		text-align: center;
	}
}

/* HOME TEAM */

.home-team .section-body .row {
	justify-content: center;
}

.member-card {
	display: block;
	margin-bottom: 75px;
	color: var(--color-dark-hex);
	text-align: center;
}

.member-pic {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	max-width: 250px;
	max-height: 250px;
	margin: 0 auto 30px;
}

.member-name {
	margin-bottom: 15px;
}

.member-name h3 {
	margin: 0;
}

.member-title {
	margin-bottom: 15px;
}

.member-read-bio {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-dark-hex);
}

.member-read-bio > p {
	margin: 0;
}

body.desktop .member-card:hover .icon-caret {
	opacity: 1;
	transition: all 0.25s;
}

/* TEAM POPUPS */

.team-popup .popup-container {
	width: 85%;
	height: 75%;
	max-width: 1200px;
	max-height: 900px;
}

.team-popup-pic {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

.team-popup-name {
	margin-bottom: 10px;
}

.team-popup-name h3 {
	margin: 0;
}

.team-popup-title {
	margin-bottom: 15px;
}

.team-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.team-nav .team-prev,
.team-nav .team-next {
	display: inline-flex;
	align-items: center;
	width: 50%;
	margin-bottom: 15px;
	color: var(--color-dark-hex);
	cursor: pointer;
}

.team-nav .team-prev .team-nav-title,
.team-nav .team-next .team-nav-title {
	margin: 0;
	text-align: center;
}

body.desktop .team-nav .team-next:hover .icon-caret {
	opacity: 1;
	transition: all 0.25s;
}

.team-prev {
	justify-content: flex-start;
}

.team-next {
	justify-content: flex-end;
}

@media (max-width: 767px) {
	.team-nav {
		flex-wrap: wrap;
	}

	.team-nav .team-prev,
	.team-nav .team-next {
		width: 100%;
		justify-content: center;
	}
}

@media (max-width: 575px) {
	.team-popup-content {
		padding-left: 0;
		padding-right: 0;
	}

	.team-popup-image {
		max-width: 150px;
		padding-top: 150px;
	}
}

/* HOME CONTACT */

h1.bigtext.home-contact-bigtext {
	line-height: 1;
	text-align: right;
}

h1.bigtext.home-contact-bigtext.text-center {
	text-align: center;
}

@media (max-width: 767px) {
	h1.bigtext.home-contact-bigtext {
		margin-bottom: 30px;
		text-align: left;
	}
}
