/**
 * SITE HEADER
 */

.site-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 80px;
	z-index: 1;
}

.site-header.absolute {
	position: absolute;
}

.site-header.fixed {
	position: fixed;
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

.site-header.sticky {
	position: fixed;
	animation-name: slideDown;
	animation-duration: 0.25s;
	transition: all 0.25s;
}

/* @media (max-width: 767px) {
	.site-header {
		padding: 0 15px;
	}
} */

/**
 * SITE HEADER BACKGROUND
 */

.site-header-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: none;
}

.site-header.absolute .site-header-bg {
	background-image: var(--color-site-header-bg);
	background-repeat: repeat-x;
}

/**
 * SITE CONTAINER
 */

.site-header-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 2560px;
	margin: 0 auto;
	padding: 0 30px;
}

.site-header.absolute .site-header-container {
	background-color: transparent;
	transition: all 0.125s linear 0.125s;
}

body.desktop .site-header.absolute:hover .site-header-container {
	background-color: var(--color-light);
	transition: all 0.125s linear;
}

.site-header.fixed .site-header-container,
.site-header.sticky .site-header-container {
	background-color: var(--color-light);
}

.site-header.mobile .site-header-container {
	padding: 0 15px;
}

/**
 * SITE BRANDING
 */

.site-branding {
	display: flex;
	align-items: center;
	position: relative;
	width: max-content;
	height: 100%;
	text-decoration: none;
}

.site-header.mobile .site-branding {
	width: calc(100% - 30px);
}

img.site-logo {
	width: auto;
	height: 100%;
	max-height: 40px;
	margin-right: 15px;
}

.site-header.absolute .site-logo {
	filter: brightness(0) invert(1);
	transition: filter 0.125s linear 0.125s;
}

.site-header.fixed .site-logo,
.site-header.sticky .site-logo {
	filter: none;
}

.site-header.active .site-logo {
	filter: none;
	transition: all 0.125s linear;
}

body.desktop .site-header.absolute:hover .site-logo {
	filter: none;
	transition: all 0.125s linear;
}

.site-header.absolute h1.site-title {
	color: white;
	transition: all 0.125s linear 0.125s;
}

.site-header.fixed h1.site-title,
.site-header.sticky h1.site-title {
	color: var(--color-dark-hex);
}

.site-header.active h1.site-title {
	color: var(--color-dark-hex);
	transition: all 0.125s linear;
}

body.desktop .site-header.absolute:hover h1.site-title {
	color: var(--color-dark-hex);
	transition: all 0.125s linear;
}

@media (max-width: 767px) {
	img.site-logo {
		max-height: 33px;
	}
}

/**
 * SITE NAV
 */

.site-nav {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	width: auto;
	height: 100%;
}

.site-nav ul {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-nav li {
	position: relative;
	display: inline-flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	align-items: center;
}

/**
 * MAIN NAV
 */

.main-nav {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 15px;
}

.main-nav ul {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 15px;
}

.main-nav li {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 15px;
}

.main-nav a {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
	transition: all 0.25s;
}

.site-nav.desktop .main-nav li:hover > a {
	opacity: 0.75;
	transition: all 0.25s;
}

.site-header.absolute .main-nav a {
	color: white;
	transition: all 0.125s linear 0.125s;
}

.site-header.fixed .main-nav a,
.site-header.sticky .main-nav a {
	color: var(--color-dark-hex);
}

.site-header.active .main-nav a {
	color: var(--color-dark-hex);
	transition: all 0.125s linear;
}

body.desktop .site-header.absolute:hover .main-nav a {
	color: var(--color-dark-hex);
	transition: all 0.125s linear;
}

.main-nav li.menu-item-has-children a span:not(.icon-caret) {
	margin-right: 10px;
}

/* Submenu */

.main-nav ul.sub-menu {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: max-content;
	height: auto;
	padding: 15px;
	background-color: var(--color-light);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-101%);
	transition: all 0.125s linear;
	z-index: -1;
}

.main-nav ul.sub-menu.open,
.main-nav li:hover ul.sub-menu {
	top: 80px;
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: all 0.25s linear 0.125s;
}

.main-nav ul.sub-menu li {
	height: auto;
	margin-bottom: 15px;
	padding: 0;
}

.main-nav ul.sub-menu li:nth-last-child(1) {
	margin-bottom: 0;
}

.main-nav ul.sub-menu a {
	height: auto;
	opacity: 1;
}

body.desktop .main-nav ul.sub-menu a:hover {
	opacity: 0.75;
}

/**
 * BUTTON NAV
 */

.button-nav li {
	margin-left: 30px;
}

.button-nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	padding: 7.5px 15px 5px;
	border: 1px solid;
	border-radius: 3px;
	background-color: transparent;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.25s;
}

.button-nav a:hover {
	border-color: var(--color-dark-hex);
	background-color: var(--color-dark-hex);
	color: white;
	transition: all 0.25s;
}

.site-header.absolute .button-nav a {
	border-color: white;
	background-color: transparent;
	color: white;
	transition: all 0.125s linear 0.125s;
}

.site-header.fixed .button-nav a,
.site-header.sticky .button-nav a {
	border-color: var(--color-dark-hex);
	background-color: transparent;
	color: var(--color-dark-hex);
}

.site-header.active .button-nav a {
	border-color: var(--color-dark-hex);
	background-color: transparent;
	color: var(--color-dark-hex);
	transition: all 0.125s linear;
}

body.desktop .site-header.absolute:hover .button-nav a {
	border-color: var(--color-dark-hex);
	background-color: transparent;
	color: var(--color-dark-hex);
	transition: all 0.125s linear;
}

.site-header.absolute .button-nav a:hover,
.site-header.fixed .button-nav a:hover,
.site-header.sticky .button-nav a:hover,
.site-header.active .button-nav a:hover,
body.desktop .site-header.absolute:hover .button-nav a:hover {
	border-color: var(--color-dark-hex);
	background-color: var(--color-dark-hex);
	color: white;
	transition: all 0.25s;
}

/**
 * LANGUAGE SWITCHER
 */

.site-nav li.lang-item {
	position: relative;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid;
}

.site-nav li.lang-item-first {
	margin-left: 0;
	padding-left: 0;
	border-left: none;
}

.site-nav li.lang-item a {
	display: flex;
	align-items: center;
	padding: 0;
	border: none;
	background-color: transparent;
	opacity: 1;
	transition: all 0.25s;
}

.site-nav li.current-lang a {
	text-decoration: none;
	opacity: 0.66;
}

.site-nav li.lang-item a:hover {
	border-color: transparent;
	background-color: transparent;
	color: var(--color-dark-hex);
	opacity: 0.75;
	transition: all 0.25s;
}

.site-nav li.current-lang a:hover {
	opacity: 0.75;
}

.site-header.absolute .site-nav li.lang-item {
	border-color: white;
	transition: all 0.125s linear 0.125s;
}

.site-header.fixed .site-nav li.lang-item,
.site-header.sticky .site-nav li.lang-item {
	border-color: var(--color-dark-hex);
}

.site-header.active .site-nav li.lang-item {
	border-color: var(--color-dark-hex);
	transition: all 0.125s linear;
}

body.desktop .site-header.absolute:hover .site-nav li.lang-item {
	border-color: var(--color-dark-hex);
	transition: all 0.125s linear;
}

.site-header.absolute .site-nav li.lang-item a {
	color: white;
	transition: all 0.125s linear 0.125s;
}

.site-header.fixed .site-nav li.lang-item a,
.site-header.sticky .site-nav li.lang-item a {
	border-color: transparent;
	background-color: transparent;
	color: var(--color-dark-hex);
	opacity: 1;
	transition: all 0.25s;
}

.site-header.active .site-nav li.lang-item a {
	border-color: transparent;
	background-color: transparent;
	color: var(--color-dark-hex);
	opacity: 1;
	transition: all 0.125s linear;
}

body.desktop .site-header.absolute:hover .site-nav li.lang-item a {
	border-color: transparent;
	background-color: transparent;
	color: var(--color-dark-hex);
	opacity: 1;
	transition: all 0.125s linear;
}

.site-header.absolute .site-nav li.lang-item a:hover,
.site-header.fixed .site-nav li.lang-item a:hover,
.site-header.sticky .site-nav li.lang-item a:hover,
.site-header.active .site-nav li.lang-item a:hover,
body.desktop .site-header.absolute:hover .site-nav li.lang-item a:hover {
	border-color: transparent;
	background-color: transparent;
	color: var(--color-dark-hex);
	opacity: 0.75;
	transition: all 0.25s;
}

.site-header.absolute .site-nav li.current-lang a,
.site-header.fixed .site-nav li.current-lang a,
.site-header.sticky .site-nav li.current-lang a,
.site-header.active .site-nav li.current-lang a,
body.desktop .site-header.absolute:hover .site-nav li.current-lang a,
body.mobile .site-header.absolute:hover .site-nav li.current-lang a {
	opacity: 0.66;
}

.site-header.absolute .site-nav li.current-lang a:hover,
.site-header.fixed .site-nav li.current-lang a:hover,
.site-header.sticky .site-nav li.current-lang a:hover,
.site-header.active .site-nav li.current-lang a:hover,
body.desktop .site-header.absolute:hover .site-nav li.current-lang a:hover {
	opacity: 0.75;
}

/**
 * SITE NAV - MOBILE
 */

.site-header.mobile {
	height: 66px;
}

.site-nav.mobile {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	width: 90%;
	height: 100%;
	padding: 66px 0 0;
	background-color: var(--color-light);
	transform: translateX(101%);
	transition: all 0.25s;
	z-index: 2;
}

.site-nav.mobile.scrollable {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.site-nav.mobile.show {
	transform: translateX(0);
	transition: all 0.25s;
}

/* Custom Scrollbar */
/* Width */
.site-nav.mobile.scrollable::-webkit-scrollbar {
	width: 5px;
}

/* Track */
.site-nav.mobile.scrollable::-webkit-scrollbar-track {
	background: var(--color-lighter);
}

/* Handle */
.site-nav.mobile.scrollable::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: var(--color-dark-hex);
	transition: all 0.25s;
}

/* Handle on hover */
.site-nav.mobile.scrollable::-webkit-scrollbar-thumb:hover {
	background: var(--color-dark-hex);
}

.site-nav.mobile nav {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	padding: 0;
}

.site-nav.mobile ul {
	flex-wrap: wrap;
	height: auto;
}

.site-nav.mobile .button-nav ul {
	justify-content: center;
}

.site-nav.mobile li {
	display: flex;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.site-nav.mobile .main-nav li {
	display: flex;
	align-items: center;
	transition: all 0.25s;
}

.site-nav.mobile .main-nav a {
	color: var(--color-dark-hex);
	cursor: pointer;
}

.site-nav.mobile .main-nav a:hover {
	opacity: 0.75;
	transition: all 0.25s;
}

.site-nav.mobile .submenu-toggle {
	display: flex;
	align-items: center;
	width: 30px;
	height: 100%;
	min-height: 20px;
}

.site-nav.mobile .main-nav ul.sub-menu {
	position: relative;
	top: 0;
	width: 100%;
	height: 0;
	padding: 0;
	overflow: hidden;
	opacity: 1;
	visibility: visible;
	transform: none;
	transition: all 0.25s;
	z-index: 1;
}

.site-nav.mobile .main-nav ul.sub-menu.open {
	transform: none;
	transition: all 0.25s;
}

.site-nav.mobile .main-nav ul.sub-menu li {
	margin: 15px 0 15px 5px;
}

.site-nav.mobile .main-nav ul.sub-menu li:nth-last-child(1) {
	margin-bottom: 0;
}

.site-nav.mobile .main-nav ul.sub-menu a {
	opacity: 0.66;
}

.site-nav.mobile .button-nav li {
	justify-content: center;
	margin-left: 0;
	padding: 0 30px;
}

.site-nav.mobile .button-nav a {
	border-color: var(--color-dark-hex);
	background-color: transparent;
	color: var(--color-dark-hex);
}

.site-nav.mobile .button-nav a:hover {
	background-color: var(--color-dark-hex);
	color: white;
	transition: all 0.25s;
}

.site-nav.mobile li.lang-item {
	width: auto;
	margin-bottom: 30px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 0;
}

.site-nav.mobile li.lang-item-first {
	margin-left: 0;
	padding-left: 0;
	border-left: none;
}

.site-nav.mobile li.lang-item a:hover {
	border-color: transparent;
	background-color: transparent;
	color: var(--color-dark-hex);
	opacity: 0.75;
	transition: all 0.25s;
}

.site-nav.mobile li.current-lang a:hover {
	opacity: 0.75;
}

/**
 * NAV TOGGLE
 */

.nav-toggle {
	display: none;
	width: 30px;
}

.nav-toggle.show {
	display: flex;
}

.nav-toggle-link {
	text-decoration: none;
}

.nav-toggle-btn {
	display: flex;
	position: relative;
	width: 30px;
	height: 15px;
	align-items: center;
	justify-content: center;
}

.nav-toggle-btn-bar {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	border-radius: 2px;
	left: 0;
	transform: rotate(0deg);
	/* transition: all 0.25s ease-in-out; */
}

.nav-toggle-btn-bar:nth-child(1) {
	top: 0;
}

.nav-toggle-btn-bar:nth-child(2),
.nav-toggle-btn-bar:nth-child(3) {
	top: 6.5px;
}

.nav-toggle-btn-bar:nth-child(4) {
	top: 13px;
}

.site-header.absolute .nav-toggle-btn-bar {
	background-color: white;
	transition: all 0.125s linear 0.125s;
}

.site-header.fixed .nav-toggle-btn-bar,
.site-header.sticky .nav-toggle-btn-bar {
	background-color: var(--color-dark-hex);
}

.site-header.active .nav-toggle-btn-bar {
	background-color: var(--color-dark-hex);
	transition: all 0.125s linear;
}

body.desktop .site-header.absolute:hover .nav-toggle-btn-bar {
	background-color: var(--color-dark-hex);
	transition: all 0.125s linear;
}

/* .nav-toggle.on .nav-toggle-btn-bar:nth-child(1) {
	top: 9px;
	width: 0%;
	left: 50%;
}
.nav-toggle.on .nav-toggle-btn-bar:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-toggle.on .nav-toggle-btn-bar:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.nav-toggle.on .nav-toggle-btn-bar:nth-child(4) {
	top: 9px;
	width: 0%;
	left: 50%;
} */

/**
 * NAV CLOSE
 */

.nav-close {
	display: none;
	position: absolute;
	top: 22px;
	right: 30px;
}

.site-nav.mobile.scrollable .nav-close {
	right: 25px;
}

.nav-close.show {
	display: flex;
}

.nav-close-btn {
	display: flex;
	position: relative;
	width: 30px;
	height: 22px;
	align-items: center;
	justify-content: center;
}

.nav-close-btn-bar {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: var(--color-dark-hex);
	border-radius: 2px;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}

.nav-close-btn-bar:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-close-btn-bar:nth-child(2) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* SITE FOOTER */

.site-footer::after {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-dark-hex);
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s;
	cursor: pointer;
	z-index: -1;
}

.site-footer.site-nav-open::after {
	opacity: 0.5;
	visibility: visible;
	transition: all 0.25s;
	z-index: 1;
}

/* ICON */

/* .icon-solid-star {
	display: flex;
	color: white;
}

.site-header.active .icon-solid-star {
	color: var(--color-dark-hex);
}

.site-header.sticky .icon-solid-star {
	color: var(--color-dark-hex);
}

.site-header.fixed .icon-solid-star {
	color: var(--color-dark-hex);
}

.svg-solid-star {
	width: 30px;
	height: 25px;
} */
