/* FONTS */

@font-face {
	font-family: 'Palatino Linotype Roman';
	src: url('assets/fonts/PalatinoLinotype/PalatinoLinotype-Roman.eot');
	src: url('assets/fonts/PalatinoLinotype/PalatinoLinotype-Roman.eot?#iefix')
			format('embedded-opentype'),
		url('assets/fonts/PalatinoLinotype/PalatinoLinotype-Roman.woff2')
			format('woff2'),
		url('assets/fonts/PalatinoLinotype/PalatinoLinotype-Roman.woff')
			format('woff'),
		url('assets/fonts/PalatinoLinotype/PalatinoLinotype-Roman.ttf')
			format('truetype'),
		url('assets/fonts/PalatinoLinotype/PalatinoLinotype-Roman.svg#PalatinoLinotype-Roman')
			format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Myriad Pro Regular';
	src: url('assets/fonts/MyriadPro/MyriadPro-Regular.eot');
	src: url('assets/fonts/MyriadPro/MyriadPro-Regular.eot?#iefix')
			format('embedded-opentype'),
		url('assets/fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2'),
		url('assets/fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
		url('assets/fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'),
		url('assets/fonts/MyriadPro/MyriadPro-Regular.svg#MyriadPro-Regular')
			format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* VARIABLES */

:root {
	/* COLORS */
	--color-white-filter: brightness(0) invert(1);
	--color-dark-hex: #333333;
	--color-dark-filter: invert(18%) sepia(3%) saturate(16%) hue-rotate(344deg)
		brightness(101%) contrast(94%);
	--color-light: #666666;
	--color-lighter: #999999;
	--color-site-header-bg: linear-gradient(
		to bottom,
		rgba(51, 51, 51, 0.25) 0%,
		transparent 100%
	);
	--color-lazy-image-overlay: #dddddd;
	--color-divider: rgba(51, 51, 51, 0.15);
	/* FONTS */
	--font-main-reg: 'Myriad Pro Regular';
	--font-main-small: 'Myriad Pro Regular';
	--font-heading-1: 'Palatino Linotype Roman';
	--font-heading-2: 'Palatino Linotype Roman';
	--font-heading-3: 'Palatino Linotype Roman';
	--font-heading-3-alt: 'Myriad Pro Regular';
	--font-heading-4: 'Myriad Pro Regular';
	--font-heading-4-alt: 'Myriad Pro Regular';
}
