/* clean-css ignore:start */
@font-face {
	font-family: 'Chaparral Pro';
	src: url('assets/fonts/solid/ChaparralPro/ChaparralPro-Regular.eot');
	src: url('assets/fonts/solid/ChaparralPro/ChaparralPro-Regular.eot?#iefix')
			format('embedded-opentype'),
		url('assets/fonts/solid/ChaparralPro/ChaparralPro-Regular.woff2')
			format('woff2'),
		url('assets/fonts/solid/ChaparralPro/ChaparralPro-Regular.woff')
			format('woff'),
		url('assets/fonts/solid/ChaparralPro/ChaparralPro-Regular.ttf')
			format('truetype'),
		url('assets/fonts/solid/ChaparralPro/ChaparralPro-Regular.svg#ChaparralPro-Regular')
			format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('assets/fonts/solid/Gotham/Gotham-Book.eot');
	src: url('assets/fonts/solid/Gotham/Gotham-Book.eot?#iefix')
			format('embedded-opentype'),
		url('assets/fonts/solid/Gotham/Gotham-Book.woff2') format('woff2'),
		url('assets/fonts/solid/Gotham/Gotham-Book.woff') format('woff'),
		url('assets/fonts/solid/Gotham/Gotham-Book.ttf') format('truetype'),
		url('assets/fonts/solid/Gotham/Gotham-Book.svg#Gotham-Book')
			format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham Ultra';
	src: url('assets/fonts/solid/Gotham/Gotham-Ultra.eot');
	src: url('assets/fonts/solid/Gotham/Gotham-Ultra.eot?#iefix')
			format('embedded-opentype'),
		url('assets/fonts/solid/Gotham/Gotham-Ultra.woff2') format('woff2'),
		url('assets/fonts/solid/Gotham/Gotham-Ultra.woff') format('woff'),
		url('assets/fonts/solid/Gotham/Gotham-Ultra.ttf') format('truetype'),
		url('assets/fonts/solid/Gotham/Gotham-Ultra.svg#Gotham-Ultra')
			format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-white-filter: brightness(0) invert(1);
	--color-dark-hex: #111111;
	--color-dark-filter: invert(4%) sepia(2%) saturate(55%) hue-rotate(314deg)
		brightness(113%) contrast(96%);
	--color-light: #cccccc;
	--color-lighter: #efefef;
	--color-site-header-bg: linear-gradient(
		to bottom,
		rgba(51, 51, 51, 0.25) 0%,
		transparent 100%
	);
	--color-lazy-image-overlay: #dddddd;
	--color-divider: rgba(17, 17, 17, 0.15);

	--font-fam-h1: 'Gotham Ultra';
	--font-size-h1-dt: 115px;
	--font-size-h1-mb: 70px;
	--font-size-site-title: 30px;
	--font-size-hero-mb: 70px;
	--font-size-big-text-dt: 9vw;
	--font-size-big-text-mb: 70px;

	--font-fam-h2: 'Chaparral Pro';
	--font-size-h2-dt: 60px;
	--font-size-h2-mb: 40px;

	--font-fam-h3: 'Gotham Book';
	--font-size-h3-dt: 30px;
	--font-size-h3-mb: 30px;

	--font-fam-h3-alt: 'Chaparral Pro';
	--font-size-h3-alt-dt: 30px;
	--font-size-h3-alt-mb: 30px;

	--font-fam-h4: 'Chaparral Pro';
	--font-size-h4-dt: 20px;
	--font-size-h4-mb: 18px;

	--font-fam-base: 'Chaparral Pro';
	--font-size-base-dt: 20px;
	--font-size-base-mb: 18px;

	--font-fam-small: 'Chaparral Pro';
	--font-size-small-dt: 16px;
	--font-size-small-mb: 14px;

	--font-fam-smaller: 'Gotham Book';
	--font-size-smaller-dt: 15px;
	--font-size-smaller-mb: 13px;

	--icon-contact-margin-bottom: -31px;
}
/* clean-css ignore:end */
