/* FOOTER */

.site-footer {
	padding: 120px 0 35px;
	background-color: var(--color-dark-hex);
	color: white;
}

.site-footer a {
	color: white;
	text-decoration: none;
}

.footer-contact {
	margin-top: 15px;
}

.footer-address p {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.footer-address span {
	display: inline-flex;
}

.footer-social {
	display: flex;
	flex-flow: row wrap;
	margin-top: 10px;
}

a.btn-social {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	margin-top: 15px;
	margin-right: 15px;
	border: 1px solid white;
	border-radius: 50%;
	background-color: white;
	color: var(--color-dark-hex);
	transition: all 0.25s;
}

body.desktop a.btn-social:hover {
	background-color: var(--color-dark-hex);
	color: white;
	transition: all 0.25s;
}

.footer-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 95px;
}

.footer-links {
	margin: 5px 0;
}

.footer-links ul {
	display: flex;
	list-style: none;
	margin: 0 -7.5px;
	padding: 0;
}

.footer-links ul li {
	margin: 0 7.5px;
}

.footer-links ul li a {
}

body.desktop .footer-links ul li a:hover {
	opacity: 1;
	transition: all 0.25s;
}

.copyright {
	margin: 5px 0;
}

.copyright a,
.copyright span {
}

.admin-login,
.site-by-solid {
	margin-left: 15px;
}

body.desktop .copyright a:hover {
	opacity: 1;
	transition: all 0.25s;
}

@media (max-width: 767px) {
	.footer-address p {
		flex-direction: column;
	}

	.footer-address span.footer-comma {
		display: none;
	}

	.footer-info {
		flex-direction: column;
		justify-content: center;
		margin-top: 60px;
	}

	.footer-links ul li a,
	.copyright a,
	.copyright span {
	}
}
