* {
	outline: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html,
body {
	margin: 0;
}

html {
	height: -webkit-fill-available;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	vertical-align: baseline;
}

body.desktop.no-scroll {
	overflow: hidden;
	padding-right: 17px;
}

.site-content {
	margin-top: 80px;
	margin-bottom: 120px;
}

.site-content.mobile {
	margin-top: 66px;
}

body.home .site-content {
	margin: 0;
}

body.single .site-content,
body.page:not(.home) .site-content,
body.error404 .site-content {
	margin-top: 170px;
}

body.single .site-content.mobile,
body.page:not(.home) .site-content.mobile,
body.error404 .site-content.mobile {
	margin-top: 156px;
}

body.single-post .site-content {
	margin-top: 80px;
	margin-bottom: 60px;
}

body.single-post .site-content.mobile {
	margin-top: 66px;
}

body.home main {
	margin: 0 auto;
}

p {
	margin-top: 0;
	margin-bottom: 15px;
}

p:last-child {
	margin-bottom: 0;
}

a {
	transition: all 0.25s;
}

a:hover,
a:active,
a:focus,
a:visited {
	outline: 0;
	transition: all 0.25s;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* BASE */

.wp-block-image {
	margin: 30px auto;
}

.wp-block-image figcaption {
	margin-top: 15px;
	margin-bottom: 30px;
}

.wp-block-table {
	margin: 30px auto;
	text-align: center;
}

.wp-block-table table {
	margin-bottom: 15px;
}

.wp-block-table figcaption {
}

/* LINKS */

.link {
	display: flex;
	align-items: center;
}

.link-all {
	color: var(--color-dark-hex);
	text-transform: lowercase;
	opacity: 0.66;
}

.link-all:hover {
	opacity: 1;
	transition: all 0.25s;
}

.link-more {
	color: var(--color-dark-hex);
	text-decoration: none;
	opacity: 0.66;
}

.link-more:hover {
	opacity: 1;
	transition: all 0.25s;
}

.link-icon-left > span {
	margin-left: 10px;
}

.link-icon-right > span {
	margin-right: 10px;
}

.archive-link {
	margin-top: 60px;
}

.see-all-link {
}

/* BUTTONS */

.buttons {
	display: flex;
}

.button {
	display: inline-flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	padding: 15px 30px;
	border: 1px solid var(--color-dark-hex);
	border-radius: 3px;
	background-color: var(--color-dark-hex);
	color: white;
	transition: all 0.25s;
}

.button:nth-last-child(1) {
	margin-right: 0;
}

body.desktop .button:hover {
	background-color: transparent;
	color: var(--color-dark-hex);
	transition: all 0.25s;
}

body.mobile .button:active,
body.mobile .button:focus,
body.mobile .button:visited {
	background-color: var(--color-dark-hex);
	color: white;
}

.button svg {
	width: 20px;
}

/* PAGES */

.page-header {
	margin-bottom: 60px;
}

/* ARCHIVES */

.archive-header {
	margin: 90px auto 120px;
	text-align: center;
}

/* BLOG PAGES */

.blog-breadcrumbs {
	background-color: var(--color-lighter);
	margin-bottom: 90px;
	padding: 20px 0;
}

.blog-header {
	min-height: 120px;
	margin-bottom: 60px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--color-lighter);
}

.blog-title a {
	color: var(--color-dark-hex);
	text-decoration: none;
}

.blog-content {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

/* .archive-header {
	margin: 0 auto 60px;
} */

.archive-title {
}

.category-header {
	margin-bottom: 90px;
}

@media (max-width: 991px) {
	.blog-breadcrumbs {
		margin-bottom: 0;
	}

	.blog-header {
		margin-bottom: 0;
	}
}

/* BLOG SIDE NAV */

.side-nav {
	margin-bottom: 60px;
}

.side-nav h4 {
	margin-top: 0;
}

.side-nav a h4 {
	margin: 0;
}

.right-nav {
	padding: 30px 0 30px 30px;
	border-left: 1px solid rgba(47, 80, 136, 0.15);
	border-bottom: 1px solid rgba(47, 80, 136, 0.15);
}

.side-nav-menu-title {
}

ul.side-nav-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.side-nav-item {
	display: flex;
	flex-direction: column;
}

li.cat-nav-item {
	margin-bottom: 15px;
}

li.post-nav-item {
	margin-bottom: 60px;
}

li.post-nav-see-all {
	margin-bottom: 30px;
}

.cat-nav-title {
}

.post-nav-cat {
}

.post-nav-title {
}

.side-nav-toggle {
	display: none;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 80px;
}

@media (max-width: 991px) {
	.side-nav {
		margin-bottom: 90px;
	}

	.right-nav {
		padding: 0;
		border-left: none;
	}

	.post-nav,
	.side-nav-menu-title {
		display: none;
	}

	.toggle-target {
		display: none;
	}

	.side-nav-toggle {
		display: flex;
	}

	li.cat-nav-item:last-child {
		margin-bottom: 30px;
	}
}

article.post {
	margin-bottom: 60px;
}

body.single-post article.post {
	margin-bottom: 120px;
}

.entry-category {
}

.entry-title {
}

.entry-link {
	position: relative;
	color: var(--color-dark-hex);
	text-decoration: none;
}

.entry-link:hover .entry-title {
	opacity: 0.75;
	transition: all 0.25s;
}

.entry-meta {
}

.entry-content {
	margin-top: 15px;
	margin-bottom: 30px;
}

.single .entry-content {
	margin-top: 45px;
}

.entry-divider {
	height: 1px;
	margin: 0;
	border: none;
	background-color: var(--color-divider);
}

.blog-home-link {
	text-align: right;
}

/* HELPERS */

.image {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.image img {
	display: block;
}

.image-aspect-square {
	height: auto;
	padding-top: 100%;
}

.image-circle {
	border-radius: 50%;
	overflow: hidden;
}

.img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.25s;
}

.img-cover {
	object-fit: cover;
}

.img-contain {
	object-fit: contain;
}

.text-center {
	text-align: center;
}

/* LAZY LOAD */

.lazy-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-lazy-image-overlay);
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s;
}

.lazy-overlay.on {
	opacity: 1;
	visibility: visible;
}

.member-overlay {
	border-radius: 50%;
}

/* HOME SECTIONS */

.home-section {
	margin: 120px auto;
}

.home-section-w-bg {
	margin: 0 auto;
	padding: 120px 0;
	background-color: var(--color-lighter);
}

.home-section-pt {
	padding-top: 120px;
}

.section-header {
	margin-bottom: 90px;
	text-align: center;
}

/* HOME HERO */

.home-hero-banner {
	height: 100vh;
	background-color: var(--color-lighter);
}

.home-hero-content {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.home-hero-image {
	width: 100%;
	max-width: 50%;
}

@media (max-width: 991px) {
	.home-hero-image {
		max-width: 75%;
	}
}

@media (max-width: 767px) {
	.home-hero-image {
		max-width: 90%;
	}
}

/* HOME INTRO */

.home-intro-paragraph p:last-child {
	margin-bottom: -9px;
}

/* HOME AWARDS */

.home-awards {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 120px;
}

.home-awards .section-body .row {
	justify-content: center;
}

.award {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 60px;
}

.award-content {
	display: inline-flex;
	margin-left: 15px;
}

/* HOME SERVICES */

.home-services {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 120px;
	padding-bottom: 120px;
}

/* HOME TEAM */

.home-team .section-body .row {
	justify-content: center;
}

body.desktop .member .card:hover .icon-caret {
	opacity: 1;
	transition: all 0.25s;
}

/* TEAM POPUPS */

.team-popup .popup-container {
	width: 85%;
	height: 75%;
	max-width: 1200px;
	max-height: 900px;
}

.team-popup-image {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

/* .team-popup-pic {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
} */

.team-popup-name {
	margin-bottom: 10px;
}

.team-popup-name h3 {
	margin: 0;
}

.team-popup-title {
	margin-bottom: 15px;
}

.team-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.team-nav .team-prev,
.team-nav .team-next {
	display: inline-flex;
	align-items: center;
	width: 50%;
	margin-bottom: 15px;
	color: var(--color-dark-hex);
	cursor: pointer;
}

.team-nav .team-prev .team-nav-title,
.team-nav .team-next .team-nav-title {
	margin: 0;
	text-align: center;
}

body.desktop .team-nav .team-next:hover .icon-caret {
	opacity: 1;
	transition: all 0.25s;
}

.team-prev {
	justify-content: flex-start;
}

.team-next {
	justify-content: flex-end;
}

@media (max-width: 767px) {
	.team-nav {
		flex-wrap: wrap;
	}

	.team-nav .team-prev,
	.team-nav .team-next {
		width: 100%;
		justify-content: center;
	}
}

@media (max-width: 575px) {
	.team-popup-content {
		padding-left: 0;
		padding-right: 0;
	}

	/* .team-popup-image {
		max-width: 150px;
		padding-top: 150px;
	} */
}

/* HOME CONTACT */
